@use '../../../styles/variables' as *;

:host {
  display: block;
  padding: $padding-md;
}

mat-tab-group {
  margin-top: $margin-md;
}

::ng-deep .mat-mdc-tab-label {
  min-width: 120px !important;
}

::ng-deep .mat-mdc-tab-label-content {
  display: flex;
  align-items: center;
  gap: $gap-sm;
}
