@use 'sass:map';
@use "@angular/material" as mat;
@use "fonts" as *;
@use "colors" as *;

// Include the common Angular Material core styles first
@include mat.core();

:root {
  // Create M3 theme using your custom brand colors
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        use-system-variables: true,
      ),
      typography: (
      brand-family: $font-primary,
      plain-family: $font-primary,
      bold-weight: 900,
      medium-weight: 600,
      regular-weight: 400,
    ),
      density: 0,
    )
  );
}

@include mat.typography-hierarchy(
  mat.define-theme((
    typography: (
      brand-family: $font-primary,
      plain-family: $font-primary,
      // optional: adjust levels, sizes, weights here
      // body-large: (size: 1rem, line-height: 1.5rem, weight: 400),
    ),
  ))
);

h1, h2, h3, h4, h5, h6 {
  color: map.get($neutral-palette, 90);     /* neutral-95 color from your custom palette */
  /* or brand them: color: var(--mat-sys-primary); */
}
