@use 'src/styles/colors' as *;
@use 'src/styles/spacing' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/fonts' as *;

// Planet SVG background at top right
.planet-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: min(20vw, 200px);
  pointer-events: none;
}
.planet-bg svg {
  width: 100%;
  height: auto;
  display: block;
}

// Hills SVG background at bottom
.hills-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 120px; // Increased height to accommodate the hills shape
  pointer-events: none;
}

.hills-bg svg {
  width: 100%;
  height: 100%;
  display: block;
}

.rocket-bg {
  position: absolute;
  top: 1rem;
  left: 4rem;
  width: 20%;
  max-width: 150px;
  height: auto;
}
.rocket-bg svg {
  width: 100%;
  height: auto;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  text-align: center;

  h1 {
    font-size: $font-size-5xl;
    font-weight: $font-weight-black;
    text-shadow: 0 0 3px var(--mat-sys-background), 0 0 2px var(--mat-sys-background);
    margin: $font-size-4xl auto $font-size-base;
  }
  z-index: 1;
}

@media (max-width: 600px) {
  .app-header h1 {
    max-width: 11rem;
    margin: $font-size-4xl auto $font-size-base;
    line-height: calc($font-size-5xl + .5rem);
  }
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.star-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

