@use 'src/styles/colors' as *;
@use 'src/styles/spacing' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/fonts' as *;

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: $component-padding-lg;
}
